<h1>Filtro de Seleccion</h1>

<!--<div class="controls">
  <button>Collepsed</button>
  <button>Expanded</button>
  <button>Checked All</button>
  <button>Unchek All</button>
</div>-->
<ul class="tree">
  <li class="has">
    <input type="checkbox" name="domain[]" value="Codigo Vendedor">
    <label>Vendedor <span class="total">(973)</span></label>
    <ul>
      <li *ngFor="let materiales of Materiales">
        <input type="checkbox" name="subdomain[]" value="Vendedor">
        <label># {{materiales.SlpCode}}</label>
      </li>
    </ul>
  </li>
  <li class="has">
    <input type="checkbox" name="domain[]" value="Codigo Cliente">
    <label>Cliente<span class="total">(973)</span></label>
    <ul>
      <li *ngFor="let materiales of Materiales">
        <input type="checkbox" name="subdomain[]" value="Clientes">
        <label>{{materiales.CardCode}}</label>
      </li>
    </ul>
  </li>
  <li class="has">
    <input type="checkbox" name="domain[]" value="# Pedidos">
    <label># Pedidos <span class="total">(973)</span></label>
    <ul>
      <li *ngFor="let materiales of Materiales">
        <input type="checkbox" name="subdomain[]" value="Pedidos">
        <label># {{materiales.DocNum}}</label>
      </li>
    </ul>
  </li>
  <li class="has">
    <input type="checkbox" name="domain[]" value="Codigo Articulos ">
    <label>Articulos <span class="total">(973)</span></label>
    <ul>
      <li *ngFor="let materiales of Materiales">
        <input type="checkbox" name="subdomain[]" value="Articulos">
        <label>{{materiales.ItemCode}}</label>
      </li>
    </ul>
  </li>
  <li class="has">
    <input type="checkbox" name="domain[]" value="Codigo Marcas">
    <label>Marcas <span class="total">(973)</span></label>
    <ul>
      <li *ngFor="let materiales of Materiales">
        <input type="checkbox" name="subdomain[]" value="Marcas">
        <label>{{materiales.FirmCode}}</label>
      </li>
    </ul>
  </li>
  <li class="has">
    <input type="checkbox" name="domain[]" value="Codigo Categoria">
    <label>Categoria <span class="total">(973)</span></label>
    <ul>
      <li *ngFor="let materiales of Materiales">
        <input type="checkbox" name="subdomain[]" value="Categorias">
        <label>{{materiales.CategoriaCode}}</label>
      </li>
    </ul>
  </li>
</ul>